<template>
  <div class="catB">
    <img :src="url" :alt="alt" />
    <div
      @click="clicked = !clicked"
      :class="['heart-container', clicked ? 'red' : '']"
    >
      <i class="fas fa-heart"></i>
    </div>
    <div class="name">
      {{ name.length > 10 ? name.slice(0, 9) : name || `Gatungo ${alt + 1}` }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      required: true,
    },
    alt: {
      required: false,
    },
    url: {
      required: true,
    },
  },
  data() {
    return {
      clicked: false,
    };
  },
};
</script>

<style lang="scss">
.name {
  position: absolute;
  bottom: 15px;
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 15px;
  border-radius: 5px;
}

.catB {
  position: relative;
}

.heart-container {
  cursor: pointer !important;
  background-color: black;
  padding: 7px 8px 2px;
  border-radius: 50%;
  box-shadow: none !important;
  font-size: 24px;
  color: white;
  position: absolute;
  left: 15px;
  top: 15px;
  &.red {
    color: red;
  }
}
</style>