<template>
  <div id="app">
    <form @submit.prevent="fetchCat" id="title">
      <h1>Supra kat</h1>
      <input
        id="catName"
        placeholder="Cat Name"
        v-model="caty.name"
        type="text"
      />
      <button id="addCatButton" type="submit">Add Cat</button>
    </form>

    <div v-if="cats.length > 0" id="gallery">
      <catBlock
        v-for="(cat, index) in cats"
        :key="index"
        :name="cat.name"
        :url="cat.url"
        :alt="index"
      />
    </div>
    <div v-else>
      <img class="sad-cat" src="@/assets/sad.png" alt="" />
    </div>
  </div>
</template>

<script>
import catBlock from "./components/CatBlock.vue";

import { mapGetters } from "vuex";
export default {
  name: "App",
  data() {
    return {
      caty: {
        name: "",
      },
    };
  },
  components: {
    catBlock,
  },
  methods: {
    fetchCat() {
      this.$store.dispatch("catModule/fetchCat", this.caty.name);
      this.caty.name = "";
    },
  },
  computed: {
    ...mapGetters({ cats: "catModule/cats" }),
  },
};
</script>

<style lang="scss">
@mixin breakpoint($d) {
  @if $d == md {
    @media (max-width: 991px) {
      @content;
    }
  } @else {
    @media (max-width: 768px) {
      @content;
    }
  }
}

.sad-cat {
  user-select: none;
  border-radius: 50px;
  margin-top: 50px;
  width: 100%;
  max-width: 450px;
  height: auto;
}

body {
  background-color: rgb(110, 100, 150);
}
#app {
  width: 95%;
  margin: 0px auto;
  max-width: 1200px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 15px;
}

input {
  padding-left: 5px;
  width: 100%;
  max-width: 200px;
  margin: 0 15px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  border: 0;
}

#title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h1 {
    margin-right: auto;
    color: rgb(240, 240, 240);
  }
  button {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    border: none;
    background: white;
    color: rgb(80, 80, 150);
    font-weight: bold;
    height: 45px;
    border-radius: 7px;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

#gallery {
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;

  .catB {
    user-select: none;
    filter: brightness(60%);
    margin: 15px;
    border-radius: 5px;
    height: 280px;
    transition: all 0.4s;
    box-shadow: 3px 0px 9px 4px rgba(0, 0, 0, 0.5);

    img {
      width: 100%;
      border: 4px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      max-height: 300px;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      box-shadow: 3px 0px 80px 35px rgba(255, 255, 255, 0.5);
      transform: scale(1.1);
      filter: brightness(100%);
    }
  }
  @include breakpoint(md) {
    grid-template-columns: repeat(3, auto);
  }
  @include breakpoint(s) {
    grid-template-columns: repeat(2, auto);
  }
}
</style>
